*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin:0;
  width:fit-content;
}
@page {
  size: 852mm 1212mm;
  margin: 0mm;
}
main {
  width:846mm;
  height:1206mm;
  margin:3mm;
  position:relative;
  overflow: hidden;
}
.poster-content {
  width:100%;
  height:100%;
}
.cropmark, .cropmark:after {
  position:absolute;
  background:black;
  outline:0.1mm solid white;
  z-index:10000;
}
.topleft {
  width:0.1mm;
  height: 4mm;
  top:-3mm;
  left:3mm;
}
.topleft::after { 
  content:'';
  height:0.1mm;
  width:4mm;
  top:6mm;
  left:-6mm;
}
.topright {
  width:0.1mm;
  height:4mm;
  top:-3mm;
  right:3mm;
}
.topright::after {
  content:'';
  height:0.1mm;
  width:4mm;
  top:6mm;
  right:-6mm;
}
.bottomleft {
width:0.1mm;
height:4mm;
bottom:-3mm;
left:3mm;
}
.bottomleft::after {
  content:'';
  height:0.1mm;
  width:4mm;
  bottom:6mm;
  left:-6mm;
}
.bottomright {
  width:0.1mm;
  height:4mm;
  bottom:-3mm;
  right:3mm;
}
.bottomright::after {
  content:'';
  height:0.1mm;
  width:4mm;
  bottom:6mm;
  right:-6mm;
}

/*###################################################################################################################################################*/
.reunat {
  margin:0;
  border: 30px solid;
  border-color: #000000;
  position: absolute; width: 100%; height: 100%;
  z-index: 10;
}
.neon {
  color: #fff;
  transform: scaleY(-1);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0),
    0 0 90px rgb(255, 0, 0),
    0 0 100px rgb(255, 0, 0),
    0 0 150px rgb(255, 0, 0);
    transform: perspective(70px) rotateX(15deg) scale(2) translateZ(0) rotateY(10deg);
}
.neon2 {
  color: #fff;
  transform: scaleY(-1);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0),
    0 0 90px rgb(255, 0, 0),
    0 0 100px rgb(255, 0, 0),
    0 0 150px rgb(255, 0, 0);
    transform: perspective(500px) rotateX(20deg) scale(7) translateZ(0) rotateY(-40deg);
    opacity: 40%;
    margin-top: 30%;
    margin-left: -50%;
}

.neon1 {
  color: #fff;
  transform: scaleX(-1);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0),
    0 0 90px rgb(255, 0, 0),
    0 0 100px rgb(255, 0, 0),
    0 0 150px rgb(255, 0, 0);
    position: absolute; bottom: 0;
    transform: perspective(100px) rotateX(-30deg) scale(1) translateZ(0) rotateY(-10deg);
}


h1 {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 370px; /* Increase font size */
  position: absolute;
  font-family: vivaldi; 
  z-index: 0;
}

.noise1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(187, 187, 187), rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  z-index: 2;
}

.bottom-gradient {
  position: absolute; width: 100%; height: 10%; bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 7;
}
.top-gradient {
  position: absolute; width: 100%; height: 10%; top: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 7;
}

.grid-container1 {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px); /* Each cell is 50px wide */
  grid-template-rows: repeat(auto-fill, 50px);    /* Each cell is 50px tall */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the viewport */
  /* Apply perspective */
  perspective: 80px;
  transform: rotateX(50deg) rotateY(50deg);

}

.grid-item {
  width: 50px;
  height: 50px;
  border: 3px solid #ff0000; /* Slight border for definition */
}

.pyramid {
  position: absolute;
  margin-top: 60%;
  margin-left: 50%;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateY(326deg) rotateX(2deg) rotateZ(359deg);
  z-index: 5;
}

.side {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.7;
  border: 100px solid transparent;
  border-bottom: 200px solid rgb(247, 0, 0);
  border-top: 0px;
}

.one {
  transform: rotateX(30deg);
  transform-origin: 0 0;
}

.two {
  transform-origin: 100px 0;
  transform: rotateY(90deg) rotateX(-30deg);
  border-bottom-color: purple;
}

.three {
  transform-origin: 100px 0;
  transform: rotateY(270deg) rotateX(-30deg);
  border-bottom-color: hotpink;
}

.four {
  transform-origin: 100px 0;
  transform: rotateY(0) rotateX(-30deg);
  border-bottom-color: yellow;
}

.base {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(73px) rotateX(90deg);
  border: 0;
  background: blue;
}

.grid-container { 
	position: absolute; width: 200%; height: 100vh; bottom: 0; left: -50%; overflow: hidden; 
	transform: perspective(200px) rotateX(40deg) scale(1) translateZ(0);
	transform-origin: bottom;
	padding: 1px; 
	-webkit-background-clip: content-box; 
	-webkit-backface-visibility: hidden;
	outline: 10px solid transparent; 
	will-change: transform; 
}

.grid-container1 { 
	position: absolute; width: 200%; height: 100vh; bottom: 0; left: -50%; overflow: hidden; 
	transform: perspective(200px) rotateX(180deg) scale(1) translateZ(0);
	transform-origin: bottom;
	padding: 1px; 
	-webkit-background-clip: content-box; 
	-webkit-backface-visibility: hidden;
	outline: 10px solid transparent; 
	will-change: transform; 
}

.grid-line { height: 100%; width: 100%; position: absolute; }


.grid-line:before,
.grid-line:after  { content: ""; display: block; position: absolute; }
.grid-line:before { height: 5px; width: 100%; background: blue; }
.grid-line:after  { height: 100%; width: 5px; background-image: linear-gradient(transparent, blue); }

.grid-line:nth-child(1):before  { top: 0%;  opacity: 0; }
.grid-line:nth-child(2):before  { top: 10%; opacity: 0; }
.grid-line:nth-child(3):before  { top: 20%; opacity: .3; }
.grid-line:nth-child(4):before  { top: 30%; opacity: .4; }
.grid-line:nth-child(5):before  { top: 40%; opacity: .5; }
.grid-line:nth-child(6):before  { top: 50%; opacity: .6; }
.grid-line:nth-child(7):before  { top: 60%; opacity: .7; }
.grid-line:nth-child(8):before  { top: 70%; opacity: .8; }
.grid-line:nth-child(9):before  { top: 80%; opacity: .9; }
.grid-line:nth-child(10):before { top: 90%; opacity: 1; }
.grid-line:nth-child(11):before { top: calc(100% - 3px); }


.grid-line:nth-child(1):after  { left: 0%;  }
.grid-line:nth-child(2):after  { left: 10%; }
.grid-line:nth-child(3):after  { left: 20%; }
.grid-line:nth-child(4):after  { left: 30%; }
.grid-line:nth-child(5):after  { left: 40%; }
.grid-line:nth-child(6):after  { left: 50%; }
.grid-line:nth-child(7):after  { left: 60%; }
.grid-line:nth-child(8):after  { left: 70%; }
.grid-line:nth-child(9):after  { left: 80%; }
.grid-line:nth-child(10):after { left: 90%; }
.grid-line:nth-child(11):after { left: calc(100% - 3px); }

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./assets/fonts/LibreBaskerville-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.star-wars {
  position: absolute;
  height: 800px;
  color: blue;
  font-family: serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  transform: perspective(100px) rotateX(15deg) scale(1) translateZ(0) rotateY(10deg);
}

.circle {
  position: absolute;
  margin-top: 51%;
  margin-left: 40%;
  width: 800px; /* Equal width */
  height: 800px; /* Equal height */
  border: 2px solid;
  border-color: #ff0000;
  box-shadow: -100px 70px 100px  rgb(255, 0, 0); /* Adds a shadow */
  border-radius: 50%; /* Makes it a circle */
  z-index: 4;
  background-color: black;
  overflow: hidden;

}
.pixelart {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: 120px;
  width: 1px;
  height: 1px;
  scale: 5;
  transform: perspective(100px) rotateX(15deg) scale(15) translateZ(0) rotateY(10deg);
  background: transparent;
  opacity: 50%;
  box-shadow: 0px 0px blue, 1px 0px blue, 2px 0px blue, 3px 0px blue, 4px 0px blue, 5px 0px blue, 6px 0px blue, 7px 0px blue, 8px 0px blue, 9px 0px blue, 10px 0px blue, 11px 0px blue, 12px 0px blue, 13px 0px blue, 14px 0px blue, 15px 0px blue, 16px 0px blue, 17px 0px blue, 18px 0px blue, 19px 0px blue, 20px 0px blue, 21px 0px blue, 22px 0px blue, 23px 0px blue, 24px 0px blue, 25px 0px blue, 26px 0px blue, 27px 0px blue, 0px 1px blue, 1px 1px blue, 2px 1px blue, 3px 1px blue, 4px 1px blue, 5px 1px blue, 6px 1px blue, 7px 1px blue, 8px 1px blue, 9px 1px blue, 10px 1px blue, 11px 1px blue, 12px 1px blue, 13px 1px blue, 14px 1px blue, 15px 1px blue, 16px 1px blue, 17px 1px blue, 18px 1px blue, 19px 1px blue, 20px 1px blue, 21px 1px blue, 22px 1px blue, 23px 1px blue, 24px 1px blue, 25px 1px blue, 26px 1px blue, 27px 1px blue, 0px 2px blue, 1px 2px blue, 2px 2px blue, 3px 2px blue, 4px 2px blue, 5px 2px blue, 6px 2px blue, 7px 2px blue, 8px 2px blue, 9px 2px blue, 10px 2px blue, 11px 2px blue, 12px 2px blue, 13px 2px blue, 14px 2px blue, 15px 2px blue, 16px 2px blue, 17px 2px blue, 18px 2px blue, 19px 2px blue, 20px 2px #41475e, 21px 2px blue, 22px 2px blue, 23px 2px blue, 24px 2px blue, 25px 2px blue, 26px 2px blue, 27px 2px blue, 0px 3px blue, 1px 3px blue, 2px 3px blue, 3px 3px blue, 4px 3px blue, 5px 3px blue, 6px 3px blue, 7px 3px blue, 8px 3px blue, 9px 3px blue, 10px 3px blue, 11px 3px blue, 12px 3px blue, 13px 3px blue, 14px 3px blue, 15px 3px blue, 16px 3px blue, 17px 3px blue, 18px 3px blue, 19px 3px blue, 20px 3px blue, 21px 3px blue, 22px 3px blue, 23px 3px blue, 24px 3px blue, 25px 3px blue, 26px 3px blue, 27px 3px blue, 0px 4px blue, 1px 4px blue, 2px 4px blue, 3px 4px blue, 4px 4px blue, 5px 4px blue, 6px 4px blue, 7px 4px blue, 8px 4px blue, 9px 4px blue, 10px 4px blue, 11px 4px blue, 12px 4px blue, 13px 4px blue, 14px 4px blue, 15px 4px blue, 16px 4px blue, 18px 4px blue, 19px 4px blue, 20px 4px blue, 21px 4px blue, 22px 4px blue, 23px 4px blue, 24px 4px blue, 25px 4px blue, 26px 4px blue, 27px 4px blue, 0px 5px blue, 1px 5px blue, 2px 5px blue, 3px 5px blue, 4px 5px blue, 5px 5px blue, 6px 5px blue, 8px 5px blue, 9px 5px blue, 10px 5px blue, 11px 5px blue, 12px 5px blue, 13px 5px blue, 16px 5px blue, 17px 5px blue, 18px 5px blue, 19px 5px blue, 20px 5px blue, 21px 5px blue, 22px 5px blue, 24px 5px blue, 25px 5px blue, 26px 5px blue, 27px 5px blue, 0px 6px blue, 1px 6px blue, 2px 6px blue, 3px 6px blue, 4px 6px blue, 5px 6px blue, 6px 6px blue, 7px 6px blue, 8px 6px blue, 11px 6px blue, 12px 6px blue, 13px 6px blue, 14px 6px blue, 16px 6px blue, 19px 6px blue, 26px 6px blue, 0px 7px blue, 1px 7px blue, 2px 7px blue, 3px 7px blue, 4px 7px blue, 5px 7px blue, 12px 7px blue, 13px 7px blue, 14px 7px blue, 15px 7px blue, 16px 7px blue, 17px 7px blue, 19px 7px blue, 21px 7px blue, 23px 7px blue, 25px 7px blue, 26px 7px blue, 27px 7px blue, 0px 8px blue, 1px 8px blue, 2px 8px blue, 5px 8px blue, 9px 8px blue, 13px 8px blue, 15px 8px blue, 17px 8px blue, 18px 8px blue, 19px 8px blue, 22px 8px blue, 24px 8px blue, 1px 9px blue, 3px 9px blue, 11px 9px blue, 12px 9px blue, 18px 9px blue, 23px 9px blue, 26px 9px blue, 6px 10px blue, 7px 10px blue, 9px 10px blue, 11px 10px blue, 13px 10px blue, 15px 10px blue, 17px 10px blue, 19px 10px blue, 21px 10px blue, 22px 10px blue, 24px 10px blue, 25px 10px blue, 27px 10px blue, 0px 11px blue, 1px 11px blue, 2px 11px blue, 7px 11px blue, 8px 11px blue, 9px 11px blue, 10px 11px blue, 12px 11px blue, 14px 11px blue, 19px 11px blue, 22px 11px blue, 2px 12px blue, 6px 12px blue, 10px 12px blue, 14px 12px blue, 17px 12px blue, 18px 12px blue, 20px 12px blue, 21px 12px blue, 18px 13px blue, 21px 13px blue, 6px 14px blue, 9px 14px blue, 12px 14px blue, 15px 14px blue, 0px 15px blue, 1px 15px blue, 2px 15px blue, 3px 15px blue, 0px 16px blue, 3px 16px blue, 6px 16px blue, 9px 16px blue, 12px 16px blue, 15px 16px blue, 18px 16px blue, 23px 16px blue, 25px 16px blue, 10px 17px blue, 13px 17px blue, 20px 17px blue, 24px 17px blue, 27px 17px blue, 0px 18px blue, 1px 18px blue, 3px 20px blue, 9px 21px blue, 12px 21px blue, 15px 21px blue, 22px 21px blue, 26px 21px blue, 1px 22px blue, 2px 22px blue, 5px 22px blue, 8px 22px blue, 10px 22px blue, 13px 22px blue, 15px 22px blue, 10px 24px blue, 14px 24px blue, 18px 24px blue, 21px 24px blue, 23px 24px blue, 25px 24px blue, 26px 24px blue, 0px 25px blue, 3px 25px blue;
}



.pixelart1 {
  position: absolute;
  margin-top: 10px;
  margin-left: -100px;
  width: 1px;
  height: 1px;
  scale: 5;
  transform: perspective(110px) rotateX(17deg) rotateZ(17deg) scale(15) translateZ(0) rotateY(12deg);
  background: transparent;
  opacity: 80%;
  box-shadow: 0px 0px red, 1px 0px red, 2px 0px red, 3px 0px red, 4px 0px red, 5px 0px red, 6px 0px red, 7px 0px red, 8px 0px red, 9px 0px red, 10px 0px red, 11px 0px red, 12px 0px red, 13px 0px red, 14px 0px red, 15px 0px red, 16px 0px red, 17px 0px red, 18px 0px red, 19px 0px red, 20px 0px red, 21px 0px red, 22px 0px red, 23px 0px red, 24px 0px red, 25px 0px red, 26px 0px red, 27px 0px red, 0px 1px red, 1px 1px red, 2px 1px red, 3px 1px red, 4px 1px red, 5px 1px red, 6px 1px red, 7px 1px red, 8px 1px red, 9px 1px red, 10px 1px red, 11px 1px red, 12px 1px red, 13px 1px red, 14px 1px red, 15px 1px red, 16px 1px red, 17px 1px red, 18px 1px red, 19px 1px red, 20px 1px red, 21px 1px red, 22px 1px red, 23px 1px red, 24px 1px red, 25px 1px red, 26px 1px red, 27px 1px red, 0px 2px red, 1px 2px red, 2px 2px red, 3px 2px red, 4px 2px red, 5px 2px red, 6px 2px red, 7px 2px red, 8px 2px red, 9px 2px red, 10px 2px red, 11px 2px red, 12px 2px red, 13px 2px red, 14px 2px red, 15px 2px red, 16px 2px red, 17px 2px red, 18px 2px red, 19px 2px red, 20px 2px red, 21px 2px red, 22px 2px red, 23px 2px red, 24px 2px red, 25px 2px red, 26px 2px red, 27px 2px red, 0px 3px red, 1px 3px red, 2px 3px red, 3px 3px red, 4px 3px red, 5px 3px red, 6px 3px red, 7px 3px red, 8px 3px red, 9px 3px red, 10px 3px red, 11px 3px red, 12px 3px red, 13px 3px red, 14px 3px red, 15px 3px red, 16px 3px red, 17px 3px red, 18px 3px red, 19px 3px red, 20px 3px red, 21px 3px red, 22px 3px red, 23px 3px red, 24px 3px red, 25px 3px red, 26px 3px red, 27px 3px red, 0px 4px red, 1px 4px red, 2px 4px red, 3px 4px red, 4px 4px red, 5px 4px red, 6px 4px red, 7px 4px red, 8px 4px red, 9px 4px red, 10px 4px red, 11px 4px red, 12px 4px red, 13px 4px red, 14px 4px red, 15px 4px red, 16px 4px red, 18px 4px red, 19px 4px red, 20px 4px red, 21px 4px red, 22px 4px red, 23px 4px red, 24px 4px red, 25px 4px red, 26px 4px red, 27px 4px red, 0px 5px red, 1px 5px red, 2px 5px red, 3px 5px red, 4px 5px red, 5px 5px red, 6px 5px red, 8px 5px red, 9px 5px red, 10px 5px red, 11px 5px red, 12px 5px red, 13px 5px red, 16px 5px red, 17px 5px red, 18px 5px red, 19px 5px red, 20px 5px red, 21px 5px red, 22px 5px red, 24px 5px red, 25px 5px red, 26px 5px red, 27px 5px red, 0px 6px red, 1px 6px red, 2px 6px red, 3px 6px red, 4px 6px red, 5px 6px red, 6px 6px red, 7px 6px red, 8px 6px red, 11px 6px red, 12px 6px red, 13px 6px red, 14px 6px red, 16px 6px red, 19px 6px red, 26px 6px red, 0px 7px red, 1px 7px red, 2px 7px red, 3px 7px red, 4px 7px red, 5px 7px red, 12px 7px red, 13px 7px red, 14px 7px red, 15px 7px red, 16px 7px red, 17px 7px red, 19px 7px red, 21px 7px red, 23px 7px red, 25px 7px red, 26px 7px red, 27px 7px red, 0px 8px red, 1px 8px red, 2px 8px red, 5px 8px red, 9px 8px red, 13px 8px red, 15px 8px red, 17px 8px red, 18px 8px red, 19px 8px red, 22px 8px red, 24px 8px red, 1px 9px red, 3px 9px red, 11px 9px red, 12px 9px red, 18px 9px red, 23px 9px red, 26px 9px red, 6px 10px red, 7px 10px red, 9px 10px red, 11px 10px red, 13px 10px red, 15px 10px red, 17px 10px red, 19px 10px red, 21px 10px red, 22px 10px red, 24px 10px red, 25px 10px red, 27px 10px red, 0px 11px red, 1px 11px red, 2px 11px red, 7px 11px red, 8px 11px red, 9px 11px red, 10px 11px red, 12px 11px red, 14px 11px red, 19px 11px red, 22px 11px red, 2px 12px red, 6px 12px red, 10px 12px red, 14px 12px red, 17px 12px red, 18px 12px red, 20px 12px red, 21px 12px red, 18px 13px red, 21px 13px red, 6px 14px red, 9px 14px red, 12px 14px red, 15px 14px red, 0px 15px red, 1px 15px red, 2px 15px red, 3px 15px red, 0px 16px red, 3px 16px red, 6px 16px red, 9px 16px red, 12px 16px red, 15px 16px red, 18px 16px red, 23px 16px red, 25px 16px red, 10px 17px red, 13px 17px red, 20px 17px red, 24px 17px red, 27px 17px red, 0px 18px red, 1px 18px red, 3px 20px red, 9px 21px red, 12px 21px red, 15px 21px red, 22px 21px red, 26px 21px red, 1px 22px red, 2px 22px red, 5px 22px red, 8px 22px red, 10px 22px red, 13px 22px red, 15px 22px red, 10px 24px red, 14px 24px red, 18px 24px red, 21px 24px red, 23px 24px red, 25px 24px red, 26px 24px red, 0px 25px red, 3px 25px red;
}

.pixelart2 {
  position: absolute;
  margin-top: 10px;
  margin-left: -100px;
  width: 1px;
  height: 1px;
  scale: 5;
  transform: perspective(90px) rotateX(10deg) rotateZ(10deg) scale(15) translateZ(0) rotateY(17deg);
  background: transparent;
  opacity: 30%;
  box-shadow: 0px 0px pink, 1px 0px pink, 2px 0px pink, 3px 0px pink, 4px 0px pink, 5px 0px pink, 6px 0px pink, 7px 0px pink, 8px 0px pink, 9px 0px pink, 10px 0px pink, 11px 0px pink, 12px 0px pink, 13px 0px pink, 14px 0px pink, 15px 0px pink, 16px 0px pink, 17px 0px pink, 18px 0px pink, 19px 0px pink, 20px 0px pink, 21px 0px pink, 22px 0px pink, 23px 0px pink, 24px 0px pink, 25px 0px pink, 26px 0px pink, 27px 0px pink, 0px 1px pink, 1px 1px pink, 2px 1px pink, 3px 1px pink, 4px 1px pink, 5px 1px pink, 6px 1px pink, 7px 1px pink, 8px 1px pink, 9px 1px pink, 10px 1px pink, 11px 1px pink, 12px 1px pink, 13px 1px pink, 14px 1px pink, 15px 1px pink, 16px 1px pink, 17px 1px pink, 18px 1px pink, 19px 1px pink, 20px 1px pink, 21px 1px pink, 22px 1px pink, 23px 1px pink, 24px 1px pink, 25px 1px pink, 26px 1px pink, 27px 1px pink, 0px 2px pink, 1px 2px pink, 2px 2px pink, 3px 2px pink, 4px 2px pink, 5px 2px pink, 6px 2px pink, 7px 2px pink, 8px 2px pink, 9px 2px pink, 10px 2px pink, 11px 2px pink, 12px 2px pink, 13px 2px pink, 14px 2px pink, 15px 2px pink, 16px 2px pink, 17px 2px pink, 18px 2px pink, 19px 2px pink, 20px 2px pink, 21px 2px pink, 22px 2px pink, 23px 2px pink, 24px 2px pink, 25px 2px pink, 26px 2px pink, 27px 2px pink, 0px 3px pink, 1px 3px pink, 2px 3px pink, 3px 3px pink, 4px 3px pink, 5px 3px pink, 6px 3px pink, 7px 3px pink, 8px 3px pink, 9px 3px pink, 10px 3px pink, 11px 3px pink, 12px 3px pink, 13px 3px pink, 14px 3px pink, 15px 3px pink, 16px 3px pink, 17px 3px pink, 18px 3px pink, 19px 3px pink, 20px 3px pink, 21px 3px pink, 22px 3px pink, 23px 3px pink, 24px 3px pink, 25px 3px pink, 26px 3px pink, 27px 3px pink, 0px 4px pink, 1px 4px pink, 2px 4px pink, 3px 4px pink, 4px 4px pink, 5px 4px pink, 6px 4px pink, 7px 4px pink, 8px 4px pink, 9px 4px pink, 10px 4px pink, 11px 4px pink, 12px 4px pink, 13px 4px pink, 14px 4px pink, 15px 4px pink, 16px 4px pink, 18px 4px pink, 19px 4px pink, 20px 4px pink, 21px 4px pink, 22px 4px pink, 23px 4px pink, 24px 4px pink, 25px 4px pink, 26px 4px pink, 27px 4px pink, 0px 5px pink, 1px 5px pink, 2px 5px pink, 3px 5px pink, 4px 5px pink, 5px 5px pink, 6px 5px pink, 8px 5px pink, 9px 5px pink, 10px 5px pink, 11px 5px pink, 12px 5px pink, 13px 5px pink, 16px 5px pink, 17px 5px pink, 18px 5px pink, 19px 5px pink, 20px 5px pink, 21px 5px pink, 22px 5px pink, 24px 5px pink, 25px 5px pink, 26px 5px pink, 27px 5px pink, 0px 6px pink, 1px 6px pink, 2px 6px pink, 3px 6px pink, 4px 6px pink, 5px 6px pink, 6px 6px pink, 7px 6px pink, 8px 6px pink, 11px 6px pink, 12px 6px pink, 13px 6px pink, 14px 6px pink, 16px 6px pink, 19px 6px pink, 26px 6px pink, 0px 7px pink, 1px 7px pink, 2px 7px pink, 3px 7px pink, 4px 7px pink, 5px 7px pink, 12px 7px pink, 13px 7px pink, 14px 7px pink, 15px 7px pink, 16px 7px pink, 17px 7px pink, 19px 7px pink, 21px 7px pink, 23px 7px pink, 25px 7px pink, 26px 7px pink, 27px 7px pink, 0px 8px pink, 1px 8px pink, 2px 8px pink, 5px 8px pink, 9px 8px pink, 13px 8px pink, 15px 8px pink, 17px 8px pink, 18px 8px pink, 19px 8px pink, 22px 8px pink, 24px 8px pink, 1px 9px pink, 3px 9px pink, 11px 9px pink, 12px 9px pink, 18px 9px pink, 23px 9px pink, 26px 9px pink, 6px 10px pink, 7px 10px pink, 9px 10px pink, 11px 10px pink, 13px 10px pink, 15px 10px pink, 17px 10px pink, 19px 10px pink, 21px 10px pink, 22px 10px pink, 24px 10px pink, 25px 10px pink, 27px 10px pink, 0px 11px pink, 1px 11px pink, 2px 11px pink, 7px 11px pink, 8px 11px pink, 9px 11px pink, 10px 11px pink, 12px 11px pink, 14px 11px pink, 19px 11px pink, 22px 11px pink, 2px 12px pink, 6px 12px pink, 10px 12px pink, 14px 12px pink, 17px 12px pink, 18px 12px pink, 20px 12px pink, 21px 12px pink, 18px 13px pink, 21px 13px pink, 6px 14px pink, 9px 14px pink, 12px 14px pink, 15px 14px pink, 0px 15px pink, 1px 15px pink, 2px 15px pink, 3px 15px pink, 0px 16px pink, 3px 16px pink, 6px 16px pink, 9px 16px pink, 12px 16px pink, 15px 16px pink, 18px 16px pink, 23px 16px pink, 25px 16px pink, 10px 17px pink, 13px 17px pink, 20px 17px pink, 24px 17px pink, 27px 17px pink, 0px 18px pink, 1px 18px pink, 3px 20px pink, 9px 21px pink, 12px 21px pink, 15px 21px pink, 22px 21px pink, 26px 21px pink, 1px 22px pink, 2px 22px pink, 5px 22px pink, 8px 22px pink, 10px 22px pink, 13px 22px pink, 15px 22px pink, 10px 24px pink, 14px 24px pink, 18px 24px pink, 21px 24px pink, 23px 24px pink, 25px 24px pink, 26px 24px pink, 0px 25px pink, 3px 25px pink;
}